In [1]:
import os
import pandas as pd

In [2]:
os.listdir()

['Atlanta_supply_dat.xlsx - Atlanta_dat.csv',
 'Atlanta_supply_dat.xlsx - UC_buildings.csv',
 'challenge_details.pdf',
 'sandbox.ipynb']

In [3]:
dat = pd.read_csv("Atlanta_supply_dat.xlsx - Atlanta_dat.csv")
bui = pd.read_csv("Atlanta_supply_dat.xlsx - UC_buildings.csv")

In [5]:
dat

,MarketCode,MarketName,YearQuarter,Stock_sf,Completions_sf,Stock_Under_Construction_sf,under_construction_as_a_percentage_of_Stock
0,ATLANT,Atlanta,2000.1,397465,4394,4098,1.031
1,ATLANT,Atlanta,2000.2,401081,3616,6109,1.523
2,ATLANT,Atlanta,2000.3,405850,4769,5352,1.319
3,ATLANT,Atlanta,2000.4,412672,6822,7892,1.912
4,ATLANT,Atlanta,2001.1,416867,4195,8298,1.991
...,...,...,...,...,...,...,...
91,ATLANT,Atlanta,2022.4,696700,9045,36975,5.307
92,ATLANT,Atlanta,2023.1,703240,6540,31999,4.550
93,ATLANT,Atlanta,2023.2,708037,4797,32487,4.588
94,ATLANT,Atlanta,2023.3,717677,9640,25474,3.550
95,ATLANT,Atlanta,2023.4,730346,12669,21891,2.997

In [6]:
bui

,PropertyID,VendorID,Address,Size_sf,Available_sf,QuartersTrackedInDatabase,EstimatedCompletionYearQuarter,YearQuarterGroundBroken,BuildingStatusCode,SubPropertyType,buildingName,complex,Latitude,Longitude,CeilingHeight,MarketCode
0,1652916003,2,"5640 Eden Rd Kennedale, TX 76060",10000,0,1,2024.3,2024.1,UC,W,,,32.632815,-97.198121,0,FORTWO
1,1652901399,2,"1801 N Masch Branch Rd Denton, TX 76207",43680,43680,5,2024.2,2023.2,UC,W,BUILDING 3,M380 BUSINESS PARK,33.234917,-97.197974,0,DALLAS
2,1652907044,2,"765 E GA 16 Highway Newnan, GA 30263",271111,271111,2,2024.3,2023.3,UC,W,--streetnum is: 765-775 to | building name i...,,33.332142,-84.756489,32,ATLANT
3,1652887791,2,"121 Technology Park Allen, TX 75013",134850,134850,2,2024.4,2023.4,UC,W,--streetnum is: to | building name is BUIL...,121 TECHNOLOGY PARK,33.147200,-96.667579,32,DALLAS
4,1652900810,2,"2733 Basswood Blvd Saginaw, TX 76131",130750,130750,4,2024.2,2023.2,UC,W,BUILDING 3,BASSWOOD 35 INDUSTRIAL PARK,32.876798,-97.321318,32,FORTWO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,1652897664,2,"ICC-35 Denton, TX 76207",366926,366926,6,2024.3,2023.2,UC,W,--streetnum is: to | building name is BUIL...,ICC-35,33.258326,-97.181522,36,DALLAS
217,1652887966,2,"1400 Senoia Rd Tyrone, GA 30290",30000,30000,1,2025.1,2024.1,UC,W,74 S BUSINESS PARK - 200,,33.493502,-84.580774,24,ATLANT
218,1652915198,2,"TX SH 180 & Boswell Dr Fort Worth, TX 76112",202242,202242,3,2024.3,2023.3,UC,W,--streetnum is: to | building name is C,,32.732602,-97.194906,36,FORTWO
219,1652926524,2,"SEC Loop of 820 & N Beach Haltom City, TX 76137",136473,136473,1,2025.1,2024.1,UC,W,--streetnum is: to | building name is MERC...,MERCANTILE 820 LOGISTICS PARK,32.835954,-97.288053,32,FORTWO
220,1652864940,2,"HWY 287 Waxahachie, TX 75165",1058635,372321,2,2025.1,2024.1,UC,W,--streetnum is: TBD to | building name is,,32.415644,-96.831482,40,DALLAS